@import "../../style/mixin";
.navbar {
  height: 60px;
  background-color: #00adb5;
  backdrop-filter: blur(5px);
  position: sticky;
  margin: 0;

  .subNavbar {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      color: #222831;
      font-size: 50px;
    }
    .nav-elements {
      // font-size: 30px;
      ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        li {
          &:not(:last-child) {
            margin-right: 60px;
            width: 20%;
          }
        }
        a {
          font-size: 25px;
          font-weight: 400;
          color: #222831;
          text-decoration: none;
          &.active{
            color: #222831;
            font-weight: 500;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              bottom: -4px;
              left: 0;
              width: 100%;
              height: 2px;
            }
        }
      }
    }
  }
}
.menu-icon {
  display: none;
}

/* Pull down  */
li.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

li.pullDown a:hover:before
{
    height: 100%;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@include screen(md) {
  .menu-icon {
    color: #222831;
    display: block;
    cursor: pointer;
    font-size: 30px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #00adb5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    &.active {
      width: 270px;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin-right: unset;
        margin-top: 22px;
      }
    }
  }
}}