.flexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #393e46;
  border-radius: 8px;
  padding: 10px;
  
  h2 {
    font-weight: 300;
    font-size: 25px;
    white-space: normal;
    letter-spacing: 2px;
    margin: auto;
    padding: 15px 5px;
    text-align: center;
    height: 50px;

   
  
  }
  figure {
    // transform: translateY(-50px);
    box-shadow: 1px -3px 3px 0px  #393e46;
    margin: 0;
    display: grid;
    max-width: 400px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    * {
      grid-area: 1/1;
    }
    img {
      width: 100%;
      aspect-ratio: 2/3;
    }
    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem;
      background-color: #22283185;
      backdrop-filter: blur(1px);
      clip-path: inset(0 var(--i, 100%) 0 0);
      transition: 0.5s ;
     
      .playIcon {
        justify-self: center;
        align-self: center;
        color: #00adb5;
        transform: translateY(-6px);
        font-size: 30px;
        transition: none;
      
        filter: drop-shadow(1px 1px 2px #222831);
        transition: 0.2s;
        &:hover {
          color: #005f64;
        }
      }
    }

    &:hover figcaption {
      --i: 0%;
    }
    &:hover img {
      transition: 0.5s;
      transform: scale(1.2);
    }
  }
}
