@import "../../../style/variables";
@import "../../../style/mixin";



.overlay{
  background-color: #202124a6;
  backdrop-filter: blur(3px);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $gray;
  border: 1px solid $gray;
  border-radius: 8px;
  z-index: 9999;
  width: 70%;
  box-shadow: 1px 3px 20px 3px #1f2022 ;
}

form{
  position: relative;
  width: 95%;
  padding: 20px;
    // background-color: #393e46;
    // border-radius: 5px;
    .movieIcon{
      display: block;
      text-align: center;
      width: 100%;
      fill:$cyan;
      margin-bottom: 10px;
      img{
        width: 11%;
      }
    }
  fieldset{
    width: 100%;
    position: relative;
    border-radius: 8px;
    border: 2px solid $white;
    legend{
      font-size: 20px;
margin-right: 40px;
padding: 0px 10px;
text-align: right;
    }
    
    .gridInput {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      
      "title description "
      "poster description "
      "rating  trailer"
      "btn btn ";
    column-gap: 40px;
    transition: 1s;
    margin: 20px;
    div{
      display: flex;
      flex-direction: column;
      label{
        font-size: 20px;
        margin-bottom: 2px;
      }
      
    }
    
    .description {
      grid-area: description;
      grid-column: span 2;
      width: 95%;
     
      textarea{
        width: 100%;
        height: 60%;
        resize:vertical
      }
    }
    .title {
      grid-area: title;
      
    }
    .poster {
      grid-area: poster;
    }
    .rating {
      grid-area: rating;
    }
    .trailer {
      grid-area: trailer;
      width: 95%;
      grid-column: span 2;
      textarea{
        width: 100%;
        resize:vertical
      }
    }
    .btn {
      grid-area: btn;
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 40px;
      padding: 10px 18px;
      grid-column:  span 3;
      

      button {
        width: 20%;
        padding: 7px 10px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        font-family: $family;
        border: none;
        cursor: pointer;
        &:first-child{
          background-color: $cyan;
          color:$white;
          &:hover{
            background-color: $cyanHover;
          }
          &:active{
            background-color: $cyanActive;
          }
        }
        &:last-child{
          background-color: $white;
          color: $darkGrey;
          &:hover{
            background-color: $whiteHover;
          }
          &:active{
            background-color: $gray;
            color: $white;
          }
        }
      }
      
      @include screen(sm){
  
        grid-template-columns: 1fr;
        grid-template-areas:
          "title  "
          "poster  "
          "rating  "
          "description "
          "btn  ";
    }
    }
  }
  
  textarea,
input[type="text"],input[type="number"] {
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: transparent;
    color: $white;
    font-family: $family;
    padding: 8px ;
    font-size: 16px;
  }
input[type="text"],input[type="number"]{
  width: 100%;
  border:0;
  border-bottom: 2px solid #676b71;
  
}
input[type="number"]{
  width: 30%;
}
}
}

